#
# This workflow is run for pull requests the modify the `tools` directory
# and runs tests for the Python scripts in that directory
#
name: "Test Python tools"

on:
  workflow_dispatch:  # manual trigger for debugging
  push:
    paths:
      - 'tools/*'
    branches:
      - main
  pull_request:
    paths:
      - 'tools/*'

jobs:
  py39: 
    name: "Run tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          python -m pip install -r tools/requirements.txt
          python -m pip install pytest mock

      - name: Validate types
        run: python -m mypy tools/*.py

      - name: Run tests
        run: python -m pytest tools/tests/test*.py -vv
